<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Bank name</span>
    </div>
    <input type="text" class="form-control" placeholder="bank name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Bank address</span>
    </div>
   city <input type="text" class="form-control" placeholder="city" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  district<input type="text" class="form-control" placeholder="district" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  state<input type="text" class="form-control" placeholder="state" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  country<input type="text" class="form-control" placeholder="country" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Bank registration date</span>
    </div>
    <input type="text" class="form-control" placeholder="Bank registration date" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email Id</span>
    </div>
    <input type="text" class="form-control" placeholder="Email Id" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">User id</span>
    </div>
    <input type="text" class="form-control" placeholder="User id" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  micr<input type="number" class="form-control" placeholder="micr" aria-label="Username" aria-describedby="basic-addon1">
  ifsc<input type="number" class="form-control" placeholder="ifsc" aria-label="Username" aria-describedby="basic-addon1">
  branch contact number<input type="number" class="form-control" placeholder="branch contact number" aria-label="Username" aria-describedby="basic-addon1">
  <button type="button" class="btn btn-info">sign up</button>